name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ensure assets dir
        run: mkdir -p assets

      - name: Generate snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ichitube
          outputs: |
            assets/github-snake.svg

      - name: Commit and push
        uses: EndBug/add-and-commit@v9
        with:
          add: "assets/github-snake.svg --force"
          message: "chore: update snake"
